# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
.venv/
venv/
ENV/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.idea/

# Data
data/scPDB/*
data/PDBBind/*

# Models
models/

# Distribution / packaging
*.egg-info/
dist/
build/
eggs/
*.egg

# Testing
.pytest_cache/
.coverage
htmlcov/

# Environment
.env
.env.local
